
body {
    background-color: white;
    font-family: Arial, sans-serif;
    font-size: small;
    margin: 8px;
    margin-top: 3px;
}

table {
    empty-cells: hide;
}

.intro {
    border: 1px solid #C3D9FF;
    background-color: #E8EEF7;
    padding: 0.5em;
}

#search {
    text-align: center;
}

#tree {
    background-color: white;
    border: 1px solid #C3D9FF;
    margin: 2em 2em 0 2em;
}

.gwt-Tree {
}

.gwt-Tree img {
    vertical-align: middle;
}

.gwt-Tree .gwt-TreeItem {
    background-color: white;
    font-size: x-small;
    margin: 4px 0px 0px 4px;
}

.gwt-Tree .gwt-TreeItem-selected {
    background-color: #E8EEF7;
    text-decoration: underline;
}
.kmensaje {
    font-size:15px;
    color:#FFFFFF;
    height:20px;
    width:100%;
    position:absolute;
    top:0px;
    left:0px;
    background-color:red;
    font-weight:bold;
}
.kmensajeError {
    font-size:15px;
    color:#ffffff;
    background-color:#e22424;
    height:20px;
    width:100%;
    position:absolute;
    top:0px;
    left:0px;
    font-weight:bold;
}
.kmensajeMensaje {
    font-size:15px;
    color:#FFFFFF;
    background-color:#b7d7c7;
    height:20px;
    width:100%;
    position:absolute;
    top:0px;
    left:0px;
    font-weight:bold;
}
.kmensajeGuardar {
    font-size:12px;
    color:black;
    background-color:#cccc00;
    height:20px;
    position:absolute;
    top:0px;
    left:127px;
  
    font-weight:bold;
}
.RED {
   color: #ff0000;
   background-color:#ff0000;
}
.YELLOW {
   color: #EDCB5E;
   background-color:#EDCB5E;
}
.GREEN {
   color: #00ff00;
   background-color:#00ff00;
}
.BLUE {
   color: #0000ff;
   background-color:#0000ff;
}
